body{

    margin: 0;
    padding: 0;
  

}

.header{
    background-color: #2f2d2d;
    height: 80px;
}

.header-left {
    display: block;
    float: left;
    margin: 29px 0;
   
}

.header-right { 
    display: block;
    float: right;
    margin: 29px 0;
   
}

a {
    
    text-decoration:none;
    color: white;
    padding :  29px 25px;
    font-family: sans-serif;
    font-size: 20px;
 
 }

 a:hover {
    background-color: rgb(49, 200, 74);
   
  }

